<header class="jumbotron">
    <h1>Scraper News</h1>
</header>

<div class="container">
    {{#each episodes}}
        <div class="card">
            <div class="card-header">
                <span class="episode-number">{{this.number}}</span>
                <span class="episode-title">{{this.title}}</span>
            </div>
            <div class="card-body">
                <p>{{this.summary}}</p>
                <div>
                    <a href="{{this.link}}" class="btn">Listen</a>
                    <a href="{{this._id}}" class="btn">Comment</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>
